@charset "utf-8";
@mixin cn-variables-theme-cn {
  --color-normal: #444;
  --color-label: #888;
  --color-weak: #bbb;
  --color-strong: #000;
  --color-primary: #0076ff;
  --color-success: #0abf5b;
  --color-danger: #e54545;
  --color-warning: #ff9d00;
  --color-error: #e54545;
  --font-weight-normal: 400;
  --font-weight-bold: 700;
  --border-width: 1px;
  --border-color: #ddd;
  --color-brand: #0076ff;
  --color-text-1: #000;
  --color-text-2: #444;
  --color-text-3: #888;
  --color-text-4: #bbb;
  --font-size-base: 12px;
  --font-size-m: 14px;
  --font-size-l: 16px;
  --font-size-xl: 20px;
  --font-size-xxl: 24px;
  --font-size-xxxl: 36px;
  --color-line-1: #ddd;
  --color-line-2: #bbb;
  --color-line-3: #e5e5e5;
  --color-fill-1: #212c53;
  --color-fill-2: #f2f2f2;
  --color-fill-3: #f7f7f7;
  --color-fill-4: #fff;
  --s-base: 4px;
  --s-0: 0px;
  --s-1: 4px;
  --s-2: 8px;
  --s-3: 12px;
  --s-4: 16px;
  --s-5: 20px;
  --s-6: 24px;
  --darken-amount-hover: 5%;
  --darken-amount-active: 10%;
}
